
body {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}


.boxright {

}

.box {
    height: 33vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(61, 29, 29);
    box-shadow: 3px 3px 0 rgb(189, 188, 188);
    margin-left: 1vw;

}

.box > * {
    color: white;
}

.image {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divBtn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
}

.read {
    border: 0;
    padding: 10px 15px;
    background-color: green;
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
}

.read:hover {
    background-color: rgb(0, 249, 0);
}

.card {
    border: 0;
    padding: 10px 15px;
    background-color: rgb(48, 66, 199);
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
}

.card:hover {
    background-color: rgb(0, 30, 255);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
   display: none;
   z-index: 1;
}

.modalbox {
    width: 45vw;
    height: 40vw;
    background-color: white;
    margin: 100px 50px;
    display: flex;
}

.modalleft {
    width: 30vw;
    height: 40vw;
}

.modalimage  {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.modalright {
    width: 30vw;
    height: 40vw;
    position: relative;
}

.modalclose {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modalclose:hover {
    color: blue;
    padding: 3px;
}

.modaltitle, .modalauthor, .modaldes {
    padding: 10px 30px;
}